body {
    margin: 0;
    padding: 0;
    background-image: url(image/bg.jpeg);
    font-family: Georgia;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.input {
    text-align: center;
    margin: 50px 0;
}

.CityName {
    height: 50px;
    width: 80%;
    font-family: Georgia;
    font-weight: bold;
    background: #faf9f9;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    width: 100px;
    font-family: Georgia;
    font-weight: bold;
    background: #c54205b0;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

#display {
    border: 10px solid rgb(197, 191, 191);
    position: relative;
    color: white;
    margin: auto;
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    max-width: 80%;
    text-align: center;
    opacity: 0.6;
    border-radius: 50px;
    background-color: rgb(41, 71, 37);
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.socialsites {
    display: flex;
    justify-content: center; /* Adjust as needed */
    margin-top: 10px;
}

.socialsites a {
    margin: 0 10px;
}

.copyright {
    margin-top: 10px;
}
h1 {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Rubik Bubbles', sans-serif; /* Change 'Roboto' to the desired font */
    color: rgb(21, 19, 21);
}

.home-link {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}